* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* NAV */

header {
  background-color: #d3d3d3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 200px;
  padding-left: 50px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 350px;
  height: auto;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: #29b7b9;
}

/* CONTENIDO PRINCIPAL */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.panels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.panel-left, .panel-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.image-container {
  width: 650px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border: 2px dashed #ccc;
  border-radius: 10px;
  position: relative;
}

#preview {
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease;
}

.saved-images {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  display: block;
}

.saved-images ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.saved-images li {
  margin: 10px;
  width: 200px; 
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.saved-images img {
  max-width: 100%;
  max-height: 150px;
  object-fit: cover;
  padding: 0;
}

.image-loaded {
  border: 2px solid #a4a8ac;
}
/* Botones */
.btn-upload, .btn-download, .btn-delete, .btn-save, .btn-delete-save, .btn-select-save {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-delete-save, .btn-select-save {
  color: white;
  margin: 2px;
  padding: auto;
  border: none;
  border-radius: 20px;
  size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-upload {
  background-color: #29b7b9;
}

.btn-download, .btn-select-save {
  background-color: #3da112;
}

.btn-delete, .btn-delete-save {
  background-color: red;
}

.btn-upload:hover {
  background-color: #0a7d7f;
  transform: scale(1.05);
}

.btn-download:hover {
  background-color: #205c07;
  transform: scale(1.05);
}

.btn-delete:hover {
  background-color: rgb(92, 8, 8);
  transform: scale(1.05);
}

input[type="number"], select {
  width: 100px;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
}

/* FOOTER */
footer {
  background-color: #d3d3d3;
  color: #000000;
  padding: 20px 0;
  text-align: center;
}

footer .social-icons {
  display: inline-flex;
  gap: 15px;
  margin-bottom: 10px;
}

footer .social-icons a {
  color: #000000;
  font-size: 30px;
  text-decoration: none;
}

footer .social-icons a:hover {
  color: #ddd;
}

footer p {
  margin-top: 10px;
  font-size: 17px;
}

/* SECCIÓN ABOUT */

.about-section {
  width: 100%;
  max-width: 1200px;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about-text h2 {
  margin-bottom: 15px;
  font-size: 2rem;
  color: #333;
}

.about-text p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #666;
}

/* Estilos para las info-cards */
.info-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
  flex: 1;
}

.card h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}

.card p {
  font-size: 1rem;
  color: #666;
}

/* MEDIA QUERIES */

/* Celulares (300px a 600px) */
@media (max-width: 600px) {
  
  .container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
  }

  .logo img {
      width: 250px;
  }

  .navbar {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0;
      margin: 0;
  }
  
  .navbar ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      padding: 0;
      margin: 0;
      margin-top: -30px;
      margin-bottom: 20px;
      font-size: 15px;
  }

  .panel-left,
  .panel-right {
      width: 90%;
      max-width: 400px;
  }
  
  .panel-center {
      width: 95%;
      max-width: 600px;
      margin: 0 auto;
      padding: 10px;
  }

  .image-container {
      width: 100%;
      height: 400px;
  }

  .info-cards {
      flex-direction: column;
      gap: 20px;
  }

  .card {
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
  }

  .btn-upload,
  .btn-download {
      width: 100%;
      margin: 5px 0;
  }
  
  footer {
      padding: 10px;
  }
}


/* Tablets (600px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .navbar {
      padding-right: 100px;
      padding-left: 30px;
  }
  
  .logo img {
      width: 250px;
  }
  
  .container {
      flex-direction: column;
      align-items: center;
  }
  
  .image-container {
      width: 600px;
      height: 400px;
  }

  .info-cards {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
  }

  .card {
      width: 45%;
      max-width: 300px;
  }
}
.titulo-contacto{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 26px;
  
}
.form-container {
  flex: 1;
  margin-right: 220px;
  margin-left: 220px;

}

.contact-info {
  flex: 0.6;
  background-color: #0044cc;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  margin-left: 500px;
  margin-right: 400px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.contact-info h3 {
  margin-bottom: 15px;
}

.contact-info p {
  margin: 5px 0;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-group input, .input-group select {
  width: 48%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 18px;
}

button {
  background-color: #0044cc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #003399;
} 

.formulario{

    text-align: center;
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    border-radius: 14px;
    margin-right: 400px;
    margin-left: 400px;

}

.titulo-respuesta{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 28px;
}

.respuesta{
  text-align: center;
  padding-top: 20px;
 
  font-size: 18px;

}

button.boton-respuesta{
  text-align: center;
  margin-top: 40px;

  font-size: 19px;
}

.image-filters {
  margin-top: 20px;
  text-align: center;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
}

.filter-button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  color: #333;
  font-weight: 500;
}

.filter-button-active {
  background-color: #29b7b9;
  color: white;
}

.filter-button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}